:root {
    --background: #24211d;
    --background-dark: #1b1712;

    --white: #E8DAB9;
    --white-dark: #b1a68c;


    --dark-color: #5d2f00;
    --dark-color-light: #894d11;
    --dark-color-dark: #3b1e00;

    --bright-color: #ee8000;

    --bright-color-rgb: 238, 128, 0;

    --gradient-color-1: #df6700;
    --gradient-color-2: #ee8000;
    --gradient-color-3: #fe9a00;
    --gradient-color-4: #feaf00;

    --gradient-color-disabled-1: #746a61;
    --gradient-color-disabled-2: #837a73;
    --gradient-color-disabled-3: #958d87;
    --gradient-color-disabled-4: #aba5a0;

    --gradient-fade-color-1: #df6700;
    --gradient-fade-color-2: #ee7f00a3;
    --gradient-fade-color-3: #fe98006b;
    --gradient-fade-color-4: #feae0020;

    --gradient2-color-1: #5b3005;
    --gradient2-color-2: #6a3a09;
    --gradient2-color-3: #7d460e;
    --gradient2-color-4: #894d11;

    --token-color: #F3B304;
}

@font-face {
    font-family: 'munro';
    src: url('assets/munro.woff') format('woff');
}

@font-face {
    font-family: 'munro narrow';
    src: url('assets/munro_narrow.woff') format('woff');
}

@font-face {
    font-family: 'munro small';
    src: url('assets/munro_small.woff') format('woff');
    font-style: small;
}

@font-face {
    font-family: 'silkscreen';
    src: url('assets/slkscr.woff') format('woff');
}

@font-face {
    font-family: 'silkscreen bold';
    src: url('assets/slkscr_bold.woff') format('woff');
}

body {
    image-rendering: pixelated;

    font-family: 'munro', Verdana, Geneva, Tahoma, sans-serif;

    color: var(--white);

    background-color: var(--background);
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--bright-color);
}

h1 {
    font-family: 'silkscreen';
    color: var(--bright-color);
    font-size: 3.5rem;
}

small {
    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
}

strong {
    color: var(--bright-color);
}


button {
    font-family: 'silkscreen';
    color: var(--white);

    border: 0;
    padding: 0.325rem 0.8rem 0.325rem 0.8rem;

    background: linear-gradient(0deg, var(--gradient-color-1) 0%, var(--gradient-color-1) 25%, var(--gradient-color-2) 25%, var(--gradient-color-2) 50%, var(--gradient-color-3) 50%, var(--gradient-color-3) 75%, var(--gradient-color-4) 75%, var(--gradient-color-4) 100%);
    background-position: bottom;
    background-size: 100% 133%;
    /*background: linear-gradient(0deg, var(--primary-dark), var(--primary-dark) 50%, var(--primary-light) 50%), var(--primary-light);*/
    transition: background-size ease-out 0.3s, box-shadow ease-out 0.3s;
}

button.button-alt {
    background: linear-gradient(0deg, var(--gradient2-color-1) 0%, var(--gradient2-color-1) 25%, var(--gradient2-color-2) 25%, var(--gradient2-color-2) 50%, var(--gradient2-color-3) 50%, var(--gradient2-color-3) 75%, var(--gradient2-color-4) 75%, var(--gradient2-color-4) 100%);
    background-size: 100% 133%;
    background-position: bottom;
}

button:hover:enabled {
    box-shadow: 0 0 0 0.25rem rgba(var(--bright-color-rgb), .20);

    background-size: 100% 100%;
    transition: background-size ease-out 0.3s, box-shadow ease-out 0.5s;

}

button:active:enabled {
    background-color: var(--primary-light);
    box-shadow: 0 0 0 0.25rem rgba(var(--bright-color-rgb), .6);
    transition: none;
}

button:disabled {
    background: linear-gradient(0deg, var(--gradient-color-disabled-1) 0%, var(--gradient-color-disabled-1) 25%, var(--gradient-color-disabled-2) 25%, var(--gradient-color-disabled-2) 50%, var(--gradient-color-disabled-3) 50%, var(--gradient-color-disabled-3) 75%, var(--gradient-color-disabled-4) 75%, var(--gradient-color-disabled-4) 100%);
    background-size: 100% 133%;
    background-position: bottom;

    color: var(--white-dark);
}

button.soft-disabled:disabled {
    background: linear-gradient(0deg, var(--gradient-color-1) 0%, var(--gradient-color-1) 25%, var(--gradient-color-2) 25%, var(--gradient-color-2) 50%, var(--gradient-color-3) 50%, var(--gradient-color-3) 75%, var(--gradient-color-4) 75%, var(--gradient-color-4) 100%);
    background-position: bottom;
    background-size: 100% 133%;
    
    opacity: 0.5;
}

.btn-myalgo {
    background: linear-gradient(0deg, #235fc6 0%, #235fc6 25%, #2b67d0 25%, #2b67d0 50%, #3671d7 50%, #3671d7 75%, #3f78da 75%, #3f78da 100%);
    background-size: 100% 133%;
    background-position: bottom;

    margin-right: 0.8rem;
}

.btn-pera {
    color: black;

    background: linear-gradient(0deg, #fee60d 0%, #fee60d 25%, #fee821 25%, #fee821 50%, #ffeb35 50%, #ffeb35 75%, #ffee55 75%, #ffee55 100%);
    background-size: 100% 133%;
    background-position: bottom;
}

.dark-text {
    color: var(--white-dark)
}

.dropdown-menu {
    background-color: var(--white);
}

a.dropdown-item {
    color: var(--dark-color)
}

a.dropdown-item:active {
    color: var(--dark-color-light)
}

.dropdown-item:hover {
    color: var(--dark-color-dark);
    background-color: var(--white-dark);
}

a.dropdown-item.disabled {
    color: var(--dark-color);
    opacity: 0.5;
}

.dropdown-item img {
    width: 48px;
    height: 48px;
}

.modal-content {
    background-color: var(--dark-color);
    border-radius: 0;
}

.modal-header {
    border-bottom: 0;
}

h5.modal-title {
    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
}

.modal-footer {
    border-top: 0;
}



.page-connect {
    height: 100vh;

    background-image: url("assets/background-bricks.png");
    background-repeat: repeat;
    background-size: 220px auto;
    background-position: center center;
}

img.logo {
    width: 75px;
    height: 75px;
}

img.logo-small {
    width: 45px;
    height: 45px;
}


nav {
    background-color: var(--background-dark);

    color: var(--white-dark);

    /*background: linear-gradient(0deg, var(--gradient-color-1) 0%, var(--gradient-color-1) 25%, var(--gradient-color-2) 25%, var(--gradient-color-2) 50%, var(--gradient-color-3) 50%, var(--gradient-color-3) 75%, var(--gradient-color-4) 75%, var(--gradient-color-4) 100%);
    background-size: 100% 0%;
    background-position: bottom;
    background-repeat: no-repeat;

    transition: ease-out 0.3s;*/
}

nav a.menu {
    text-decoration: none;

    font-family: 'silkscreen';
    font-size: 1.5rem;

    background: linear-gradient(0deg, var(--gradient-color-1) 0%, var(--gradient-color-1) 25%, var(--gradient-color-2) 25%, var(--gradient-color-2) 50%, var(--gradient-color-3) 50%, var(--gradient-color-3) 75%, var(--gradient-color-4) 75%, var(--gradient-color-4) 100%);
    background-color: var(--white);
    background-size: 100% 0%;
    background-position: bottom;
    background-repeat: no-repeat;

    transition: background-size ease-in 0.3s;

    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

nav a.menu:hover {

    background-size: 100% 100%;

    transition: background-size ease-out 0.3s;

}

nav a.wallet-address {

    text-decoration: none;
    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;

    color: var(--background);
    background-color: var(--dark-color-light);

}

nav a.wallet-address:hover {

    color: var(--background);
    background-color: var(--bright-color);
}

nav #token-balance {

    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    line-height: 1rem;

    color: var(--token-color);

}

nav #token-balance a {

    font-family: 'munro', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.1rem;

    color: var(--token-color);

}

nav #token-balance a:hover {

    color: var(--bright-color);

}

nav a.icon-menu img {
    transition: all .2s ease-in-out;
}

nav a.icon-menu:hover img {
    transform: scale(1.1);
}


nav div.profile-img {
    width: 45px;
    height: 45px;

    display: inline-block;

    background-position: center 30%;
    background-size: 130%;

    mask-image: url('assets/logo.png');
    -webkit-mask-image: url('assets/logo.png');
    mask-size: 100%;
    -webkit-mask-size: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.springboard-main-item {
    aspect-ratio: 1/1;

}

.springboard-item a {

    text-decoration: none;
    min-height: 100px;
    padding: 20px;
    height: 100%;

    background-color: var(--dark-color);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

}

.springboard-item a:hover {

    color: var(--white);

}

.springboard-item h3 {

    margin: 0;
    font-size: 2rem;

}

.springboard-item p {

    opacity: 0.6;

}

.springboard-main-item a {
    background-position: bottom right;
}

.list-item {
    background-color: var(--dark-color);
}

.list-item-text {
    padding: 1rem;
}

.list-item-text h4 {
    margin: 0;
}

.list-item-text .asset-id {
    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white-dark)
}

.custom-badge {
    font-family: 'munro small', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark-color-light);
    padding: 0 0.4rem 0.2rem 0.4rem;
}

.custom-badge.dark {
    background-color: var(--dark-color-dark);
}

.custom-badge.light {
    background-color: var(--white-dark);
    color: var(--dark-color);
}

.more {
    width: 1.8rem;
    height: auto;
}

footer {
    color: var(--white-dark);
    background-color: var(--background-dark);
}

footer a {
    color: var(--white-dark);
}

.hidden-pack-name {
    transition: all .5s ease-in-out 1s;
}

.placeholder-bather {
    background-image: url('assets/default.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.placeholder-card {
    background-image: url('assets/default-card.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-tooltip {

    font-family: 'munro', Verdana, Geneva, Tahoma, sans-serif;
    --bs-tooltip-color: var(--white);
    --bs-tooltip-bg: var(--background-dark);
    --bs-tooltip-border-radius: 0;
    --bs-tooltip-font-size: 1rem;

}

.custom-form-control {
    background-color: var(--white);
    color: var(--dark-color);
}

.custom-form-control:focus {
    background-color: var(--white);
    color: var(--dark-color);
}

.custom-form-control::placeholder {
    color: var(--white-dark);
}

.nft-holder {
    color: var(--bright-color);
}


